.App {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.acc-continer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  padding-left: 40px;
  cursor: pointer;
}
.acc-continer:focus {
  background-color: #faf5f5;
  box-shadow: rgba(73, 101, 240, 0.35) 0px 5px 15px;
}
.title-box {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.title {
  display: flex;
  gap: 10px;
}
.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.question {
}
.answer {
  text-align: start;
}

.is-open-style {
  border-top: solid green 2px;
}
.is-open-style-color {
  color: green;
}
